body {
  color: black;
}

body {
  font-family: 'Trebuchet MS', sans-serif;
}

body {

background-image: url('https://cdn.dribbble.com/users/27292/screenshots/971165/animated_bg.gif');

background-repeat: no-repeat;

background-size: cover;

}
